body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  height: 400px;
}

.internal_link {
    cursor: pointer;
}

.politician_card {
    margin-bottom: 20px;
}

.politician_image {
    height: 220px;
    object-fit: cover;
}

.politician_page_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

.politician_twitter {
    margin-left: auto;
    margin-right: auto;
}

.district_incumbent_card {
    min-height: 100%;
}

.district_incumbent_image {
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    object-fit: contain;
}

.district_other_image {
    max-height: 300px;
    width: auto;
    object-fit: contain;
}

.election_image {
    max-height: 300px;
    width: auto;
    object-fit: contain;
}

.model_title {
    font-size: xx-large;
}

.instance_title {
	font-size: xx-large;
}

.instance_header {
    font-size: x-large;
}

.filter_main {
    position: absolute;
    margin-left: 0px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.searchbar {
    margin: 10px;
}